.uploaderWrapper {
  margin: auto;
  width: 100%;
}

.instructionsText {
  font-size: 20px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 20px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.loadingContainer {
  position: absolute;
  left: 0;
  right: 0;
}

.loadingSpinner {
  margin: 10px auto;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: glow 2s linear infinite;
}
@keyframes glow {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.loadingSpinner::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: #000000;
  border-radius: 50%;
  z-index: 1000;
}
.loader::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

